.rowProduct{
    margin-bottom: 2rem
}
.heading{
    margin-left: 2%;
}
.products{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 2%;
}
.products::-webkit-scrollbar{
    display: none;
}
.product{
    background-color: antiquewhite;
    color: black;
    margin-right: 1rem;
    padding: 1rem;
}
.product .poster{
    padding: 1rem;
    height: 200px;
    width: 200px;
}
.product-text{
    width: 17rem;
}
button {
    border: none;
    background-color: #f3617a;
    margin-top: 0.5rem;
    height: 2.8rem;
    width: 6rem;
  }