.categories{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
}
.categories::-webkit-scrollbar{
    display: none;
}
.categories-products{
    display: flex;
    margin-left: 2%;
}
.categories-product{
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    width: 26rem;
    padding: 1rem;
}
.categories-product .poster{
    height:60px;
    width: 60px;
}